<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recommended Books</title>
</head>
<body>
<h1>MBTI 기반 도서 추천</h1>
<a href="/books">뒤로가기</a>

<table border="1">
    <thead>
    <tr>
        <th>제목</th>
        <th>줄거리</th>
        <th>작가</th>
        <th>출판사</th>
        <th>권장연령</th>
        <th>MBTI</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${recommendedBooks}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.summary}">Summary</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.publisher}">Publisher</td>
        <td th:text="${book.recommendedAge}">Age</td>
        <td th:text="${book.mbtiTraitsAsString}">MBTI Traits</td>
    </tr>
    </tbody>
</table>
</body>
</html>
